.light-theme {
  --text-color: #4a4a4a;
  --background-color: #f1f1f1;
  --selection-bg-color: #40e0d0;
  --selection-color: #ffffff;
  --icon-fill-color: #000000;
  --icon-fill-hover-color: #633a82;
}

::selection {
  background-color: var(--selection-bg-color);
  color: var(--selection-color);
}

html {
  margin: 0;
  padding: 0;
}

body {
  background: var(--background-color);
  margin: 0;
  padding: 0;
  font-family: "Muli", sans-serif;
  color: var(--text-color);
  line-height: 1.5;
  font-size: 1rem;
  height: 100%;
  display: flex;
  justify-content: center;
}

.container {
  margin-top: 100px;
  width: 350px;
}

.networks {
  text-align: center;
}

.networks a {
  display: inline-block;
  padding: 0 10px;
  text-decoration: none;
}

.networks a svg {
  width: 24px;
  height: 24px;
  fill: var(--icon-fill-color);
  transition: 0.5s;
}

.networks a:hover svg {
  fill: var(--icon-fill-hover-color);
}

.title {
  margin: 0;
  text-align: center;
  line-height: 3rem;
  font-size: 3rem;
  font-weight: 400;
}

.subtitle {
  text-align: center;
  margin-bottom: 30px;
}
